* {
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
  
    color: white;
    line-height: 1.5;
    font-size: 0.875rem;
    background-image: url('https://images.pexels.com/photos/687824/pexels-photo-687824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
    background-repeat: no-repeat;
    background-size: cover;
}   

.section-center {
    width: 100vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
    justify-items: center;
  }
  .menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
    background-color: aliceblue;
  }

 
  .photo {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
  }
.underline {
  width: 8rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    padding: 29px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(82, 81, 81)
}

h2 {
    text-align: center;
    font-size: 45px;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* button container */

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter-btn {
  background-color: #f59e05;
  color: #fff;
  border: none;
  font-size: 20px;
  margin: 40px;
  padding-right: 20px;
  cursor: pointer;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 7px;
  font-weight: 100;
}

.filter-btn:hover {
  color: #fff;
  background-color:  #8a5d0f;
  border-radius: 2px;
}

.price {
  background:  #f59e05;
  color: #fff;
  border-radius: 10px;
  height: 28px;
  width: 80px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

/* home page */
.home-container {
  
  width: 100vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
}
.image-grid {
    display: block;
    justify-items: center;
  position: relative; 
}

.video {
  width: 1170px;
  height: auto;
  
}

.home-title {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white; /* optional: ensure text is readable */
  z-index: 1; /* ensure the text is above the image */
  font-size: 80px;
  width: 800px;
  text-decoration: underline;
}
/* .img1 , .img3 {
  width: 200px;
  height: 300px;
  object-fit: cover;

}
.img2 , .img4 {
  width: 400px;
  height: 300px;
  object-fit: cover;

} */

/* .img1 {  }
.img2 { grid-area: 3 / 1 / 4 / 2; }
.img3 { grid-area: 1 / 2 / 2 / 3; }
.img4 { grid-area: 2 / 2 / 4 / 3; } */

/* navbar */
.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-size: large;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100vh;
}

a {
  text-decoration: none;
  background-color: #f59e05;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 7px;
  font-weight: 100; 
  width: 100px;
}

.logo {
  width: 60px;
  height: 60px;;
}

.order-btn {
  background-color: #f59e05;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 7px;
  font-weight: 100; 
  width: 260px;
}

